body { background: #8f6b5; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 19px; display: flex; }
.block-product-0 { color: #e8cb8; font-size: 20px; margin-bottom: 5px; }
.block-cache-1 { color: #327c9a; font-size: 20px; margin-bottom: 5px; }
.block-validator-2 { color: #9f5919; font-size: 21px; margin-bottom: 5px; }
.block-email-3 { color: #948a98; font-size: 21px; margin-bottom: 5px; }
.block-filter-4 { color: #8b6c1c; font-size: 20px; margin-bottom: 5px; }
.block-validator-5 { color: #352c72; font-size: 15px; margin-bottom: 5px; }
.block-search-6 { color: #ba318b; font-size: 19px; margin-bottom: 5px; }